#login-register {
	width: 374px;
	margin: 0 auto 80px;
}

#login-register .panel-title {
	cursor: pointer;
}

#terms-content {
	position: relative;
	margin-top: 465px;
	margin-bottom: 40px;
}

#forgot-form, #register-form {
	margin-bottom: 0px;
}

#forgot > .panel-footer, #register-button-wrapper, #login-button-wrapper {
	cursor: pointer;
}

@media (max-width: 479px) {
	body { padding-top: 0px; }
	form { min-height: 528px !important; }
	#large-logo { margin: 20px auto; max-width: 100%; }
	#login-register {
		width: 290px;
	}
}